<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="TestSWAPI" thread-count="10" parallel="classes">
    <listeners>
        <listener class-name="base.TestListener"/>
    </listeners>

    <parameter name="statusCode" value="200"/>
    <parameter name="responseNotFound" value="{&quot;detail&quot;:&quot;Not found&quot;}"/>
    <parameter name="contentType" value="application/json"/>

    <suite-files>
        <suite-file path="src/test/resources/TestPlanets.xml"></suite-file>
        <suite-file path="src/test/resources/TestPlanet.xml"></suite-file>
    </suite-files>
</suite>